body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1661px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u639 {
  position:absolute;
  left:20px;
  top:20px;
  width:129px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u641 {
  position:absolute;
  left:20px;
  top:64px;
  width:754px;
  height:1px;
}
#u642 {
  position:absolute;
  left:2px;
  top:-8px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u643 {
  position:absolute;
  left:20px;
  top:75px;
  width:300px;
  height:640px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u644 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u645 {
  position:absolute;
  left:347px;
  top:353px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u646 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u647 {
  position:absolute;
  left:468px;
  top:353px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u648 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u649 {
  position:absolute;
  left:620px;
  top:213px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u650 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u651 {
  position:absolute;
  left:620px;
  top:308px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u652 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u653 {
  position:absolute;
  left:620px;
  top:404px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u654 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u655 {
  position:absolute;
  left:620px;
  top:494px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u656 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u657 {
  position:absolute;
  left:795px;
  top:353px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u658 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u659 {
  position:absolute;
  left:952px;
  top:353px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u660 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u661 {
  position:absolute;
  left:1098px;
  top:299px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u662 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u663 {
  position:absolute;
  left:1098px;
  top:398px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u664 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u665 {
  position:absolute;
  left:1259px;
  top:398px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u666 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u667 {
  position:absolute;
  left:1417px;
  top:398px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u668 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u669 {
  position:absolute;
  left:1561px;
  top:353px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u670 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u671 {
  position:absolute;
  left:447px;
  top:383px;
  width:0px;
  height:0px;
}
#u671_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:25px;
  height:8px;
}
#u671_seg1 {
  position:absolute;
  left:6px;
  top:-10px;
  width:20px;
  height:20px;
}
#u672 {
  position:absolute;
  left:-40px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673 {
  position:absolute;
  left:568px;
  top:383px;
  width:0px;
  height:0px;
}
#u673_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u673_seg1 {
  position:absolute;
  left:38px;
  top:-144px;
  width:8px;
  height:148px;
}
#u673_seg2 {
  position:absolute;
  left:38px;
  top:-144px;
  width:14px;
  height:8px;
}
#u673_seg3 {
  position:absolute;
  left:37px;
  top:-150px;
  width:20px;
  height:20px;
}
#u674 {
  position:absolute;
  left:-8px;
  top:-62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675 {
  position:absolute;
  left:568px;
  top:383px;
  width:0px;
  height:0px;
}
#u675_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u675_seg1 {
  position:absolute;
  left:38px;
  top:-49px;
  width:8px;
  height:53px;
}
#u675_seg2 {
  position:absolute;
  left:38px;
  top:-49px;
  width:14px;
  height:8px;
}
#u675_seg3 {
  position:absolute;
  left:37px;
  top:-55px;
  width:20px;
  height:20px;
}
#u676 {
  position:absolute;
  left:-8px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677 {
  position:absolute;
  left:568px;
  top:383px;
  width:0px;
  height:0px;
}
#u677_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u677_seg1 {
  position:absolute;
  left:38px;
  top:-4px;
  width:8px;
  height:59px;
}
#u677_seg2 {
  position:absolute;
  left:38px;
  top:47px;
  width:14px;
  height:8px;
}
#u677_seg3 {
  position:absolute;
  left:37px;
  top:41px;
  width:20px;
  height:20px;
}
#u678 {
  position:absolute;
  left:-8px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679 {
  position:absolute;
  left:568px;
  top:383px;
  width:0px;
  height:0px;
}
#u679_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u679_seg1 {
  position:absolute;
  left:38px;
  top:-4px;
  width:8px;
  height:149px;
}
#u679_seg2 {
  position:absolute;
  left:38px;
  top:137px;
  width:14px;
  height:8px;
}
#u679_seg3 {
  position:absolute;
  left:37px;
  top:131px;
  width:20px;
  height:20px;
}
#u680 {
  position:absolute;
  left:-8px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681 {
  position:absolute;
  left:720px;
  top:243px;
  width:0px;
  height:0px;
}
#u681_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u681_seg1 {
  position:absolute;
  left:56px;
  top:-4px;
  width:8px;
  height:148px;
}
#u681_seg2 {
  position:absolute;
  left:56px;
  top:136px;
  width:19px;
  height:8px;
}
#u681_seg3 {
  position:absolute;
  left:60px;
  top:130px;
  width:20px;
  height:20px;
}
#u682 {
  position:absolute;
  left:10px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683 {
  position:absolute;
  left:720px;
  top:338px;
  width:0px;
  height:0px;
}
#u683_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u683_seg1 {
  position:absolute;
  left:56px;
  top:-4px;
  width:8px;
  height:53px;
}
#u683_seg2 {
  position:absolute;
  left:56px;
  top:41px;
  width:19px;
  height:8px;
}
#u683_seg3 {
  position:absolute;
  left:60px;
  top:35px;
  width:20px;
  height:20px;
}
#u684 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685 {
  position:absolute;
  left:720px;
  top:434px;
  width:0px;
  height:0px;
}
#u685_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u685_seg1 {
  position:absolute;
  left:56px;
  top:-55px;
  width:8px;
  height:59px;
}
#u685_seg2 {
  position:absolute;
  left:56px;
  top:-55px;
  width:19px;
  height:8px;
}
#u685_seg3 {
  position:absolute;
  left:60px;
  top:-61px;
  width:20px;
  height:20px;
}
#u686 {
  position:absolute;
  left:10px;
  top:-11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687 {
  position:absolute;
  left:720px;
  top:524px;
  width:0px;
  height:0px;
}
#u687_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u687_seg1 {
  position:absolute;
  left:56px;
  top:-145px;
  width:8px;
  height:149px;
}
#u687_seg2 {
  position:absolute;
  left:56px;
  top:-145px;
  width:19px;
  height:8px;
}
#u687_seg3 {
  position:absolute;
  left:60px;
  top:-151px;
  width:20px;
  height:20px;
}
#u688 {
  position:absolute;
  left:10px;
  top:-56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689 {
  position:absolute;
  left:895px;
  top:383px;
  width:0px;
  height:0px;
}
#u689_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u689_seg1 {
  position:absolute;
  left:42px;
  top:-10px;
  width:20px;
  height:20px;
}
#u690 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691 {
  position:absolute;
  left:1052px;
  top:383px;
  width:0px;
  height:0px;
}
#u691_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u691_seg1 {
  position:absolute;
  left:24px;
  top:-58px;
  width:8px;
  height:62px;
}
#u691_seg2 {
  position:absolute;
  left:24px;
  top:-58px;
  width:22px;
  height:8px;
}
#u691_seg3 {
  position:absolute;
  left:31px;
  top:-64px;
  width:20px;
  height:20px;
}
#u692 {
  position:absolute;
  left:-22px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693 {
  position:absolute;
  left:1052px;
  top:383px;
  width:0px;
  height:0px;
}
#u693_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u693_seg1 {
  position:absolute;
  left:24px;
  top:-4px;
  width:8px;
  height:53px;
}
#u693_seg2 {
  position:absolute;
  left:24px;
  top:41px;
  width:22px;
  height:8px;
}
#u693_seg3 {
  position:absolute;
  left:31px;
  top:35px;
  width:20px;
  height:20px;
}
#u694 {
  position:absolute;
  left:-22px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u695 {
  position:absolute;
  left:1198px;
  top:428px;
  width:0px;
  height:0px;
}
#u695_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:65px;
  height:8px;
}
#u695_seg1 {
  position:absolute;
  left:46px;
  top:-10px;
  width:20px;
  height:20px;
}
#u696 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697 {
  position:absolute;
  left:1359px;
  top:428px;
  width:0px;
  height:0px;
}
#u697_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u697_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u698 {
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699 {
  position:absolute;
  left:1517px;
  top:428px;
  width:0px;
  height:0px;
}
#u699_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:37px;
  height:8px;
}
#u699_seg1 {
  position:absolute;
  left:29px;
  top:-49px;
  width:8px;
  height:53px;
}
#u699_seg2 {
  position:absolute;
  left:29px;
  top:-49px;
  width:15px;
  height:8px;
}
#u699_seg3 {
  position:absolute;
  left:29px;
  top:-55px;
  width:20px;
  height:20px;
}
#u700 {
  position:absolute;
  left:-17px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
