body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1498 {
  position:absolute;
  left:20px;
  top:20px;
  width:193px;
  height:45px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1499 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:2px;
}
#u1500 {
  position:absolute;
  left:20px;
  top:67px;
  width:800px;
  height:1px;
}
#u1501 {
  position:absolute;
  left:2px;
  top:-8px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1502 {
  position:absolute;
  left:20px;
  top:105px;
  width:360px;
  height:20px;
}
#u1503 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1504 {
  position:absolute;
  left:20px;
  top:125px;
  width:360px;
  height:48px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1505 {
  position:absolute;
  left:2px;
  top:15px;
  width:356px;
  word-wrap:break-word;
}
#u1506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1506 {
  position:absolute;
  left:313px;
  top:138px;
  width:57px;
  height:22px;
  text-align:right;
}
#u1507 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1508 {
  position:absolute;
  left:30px;
  top:137px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1509 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:99px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1510 {
  position:absolute;
  left:20px;
  top:197px;
  width:300px;
  height:99px;
  text-align:left;
}
#u1511 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u1512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1512 {
  position:absolute;
  left:435px;
  top:105px;
  width:360px;
  height:20px;
}
#u1513 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1514 {
  position:absolute;
  left:435px;
  top:125px;
  width:360px;
  height:48px;
  font-size:16px;
}
#u1515 {
  position:absolute;
  left:2px;
  top:13px;
  width:356px;
  word-wrap:break-word;
}
#u1516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:572px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1516 {
  position:absolute;
  left:435px;
  top:173px;
  width:360px;
  height:572px;
}
#u1517 {
  position:absolute;
  left:2px;
  top:278px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1518 {
  position:absolute;
  left:445px;
  top:137px;
  width:24px;
  height:24px;
}
#u1519 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1520 {
  position:absolute;
  left:445px;
  top:177px;
  width:157px;
  height:20px;
}
#u1521 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1522 {
  position:absolute;
  left:435px;
  top:198px;
  width:360px;
  height:58px;
}
#u1523 {
  position:absolute;
  left:2px;
  top:21px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u1524 {
  position:absolute;
  left:445px;
  top:198px;
  width:58px;
  height:58px;
}
#u1525 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1526 {
  position:absolute;
  left:728px;
  top:216px;
  width:57px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1527 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u1528 {
  position:absolute;
  left:513px;
  top:198px;
  width:58px;
  height:58px;
}
#u1529 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u1530 {
  position:absolute;
  left:581px;
  top:198px;
  width:58px;
  height:58px;
}
#u1531 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1532 {
  position:absolute;
  left:445px;
  top:259px;
  width:43px;
  height:20px;
}
#u1533 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1534 {
  position:absolute;
  left:435px;
  top:280px;
  width:360px;
  height:58px;
}
#u1535 {
  position:absolute;
  left:2px;
  top:21px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1536 {
  position:absolute;
  left:728px;
  top:298px;
  width:57px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1537 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u1538 {
  position:absolute;
  left:445px;
  top:280px;
  width:58px;
  height:58px;
}
#u1539 {
  position:absolute;
  left:2px;
  top:21px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1540 {
  position:absolute;
  left:513px;
  top:290px;
  width:139px;
  height:20px;
}
#u1541 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u1542_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1542 {
  position:absolute;
  left:754px;
  top:138px;
  width:31px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1543 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1544 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:31px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1545 {
  position:absolute;
  left:585px;
  top:701px;
  width:61px;
  height:44px;
}
#u1546 {
  position:absolute;
  left:2px;
  top:14px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1547 {
  position:absolute;
  left:604px;
  top:711px;
  width:24px;
  height:24px;
}
#u1548 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1550 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:528px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1551 {
  position:absolute;
  left:435px;
  top:174px;
  width:360px;
  height:528px;
  opacity:0.75;
}
#u1552 {
  position:absolute;
  left:2px;
  top:256px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1553 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u1554 {
  position:absolute;
  left:448px;
  top:608px;
  width:64px;
  height:64px;
}
#u1555 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u1556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u1556 {
  position:absolute;
  left:538px;
  top:608px;
  width:64px;
  height:64px;
}
#u1557 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u1558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u1558 {
  position:absolute;
  left:628px;
  top:608px;
  width:64px;
  height:64px;
}
#u1559 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u1560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u1560 {
  position:absolute;
  left:718px;
  top:608px;
  width:64px;
  height:64px;
}
#u1561 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u1562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u1562 {
  position:absolute;
  left:524px;
  top:678px;
  width:183px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u1563 {
  position:absolute;
  left:0px;
  top:-2px;
  width:183px;
  white-space:nowrap;
}
#u1564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1564 {
  position:absolute;
  left:596px;
  top:704px;
  width:40px;
  height:40px;
}
#u1565 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1566 {
  position:absolute;
  left:604px;
  top:712px;
  width:24px;
  height:24px;
}
#u1567 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1568 {
  position:absolute;
  left:583px;
  top:701px;
  width:63px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
