/*背景模糊遮罩效果
**加在body子元素, 非弹窗元素上
*/
.blur{
	-webkit-filter:blur(5px);
	-moz-filter:blur(5px);
	-o-filter:blur(5px);
	filter:blur(5px);
}

/*弹窗样式*/
/*容器*/
.alert-bg{
	height:100%;
	width:100%;
	position:fixed;
	background-color:rgba(0,0,0,0.1);
}
.alert{
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	box-shadow: 0 0 10px black;
	border-radius: 5px;
	background:white;
}
/*标题*/
.alert-tittle{
	width:200px;
	padding:10px;
	border-bottom: 1px solid gray;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
/*内容*/
.alert-content{
	width:200px;
	max-height: 150px;
	overflow:auto;
	padding: 10px;
	background:white;
	border-bottom: 1px solid gray;
	font-size:14px;
}
/*按钮部分*/
.alert-control{
	width:220px;
	display: flex;

}
/*按钮样式*/
.alert-confirm, .alert-cancel{
	flex:1;
	text-decoration: none;
	text-align: center;
	padding:10px;
}
.alert-confirm{
	border-right:1px solid lightgray;
}