*{
	margin:0;
	padding:0;
}

/*内容容器*/
main{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: url(./imgs/img-1.jpg) center;
	background-size: 100% 100%;	
	z-index: -1;
	text-align: center;
	transition: 0.5s;
}

/*弹窗按钮*/
main .show-alert{
	margin: 20px auto;
	padding:5px;
}