body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1505px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:576px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5236 {
  position:absolute;
  left:340px;
  top:139px;
  width:360px;
  height:576px;
}
#u5237 {
  position:absolute;
  left:2px;
  top:280px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5238 {
  position:absolute;
  left:340px;
  top:75px;
  width:360px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5239 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5240 {
  position:absolute;
  left:340px;
  top:95px;
  width:360px;
  height:44px;
  font-size:16px;
}
#u5241 {
  position:absolute;
  left:2px;
  top:11px;
  width:356px;
  word-wrap:break-word;
}
#u5242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5242 {
  position:absolute;
  left:351px;
  top:106px;
  width:24px;
  height:24px;
}
#u5243 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u5244 {
  position:absolute;
  left:20px;
  top:20px;
  width:129px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u5245 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u5246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:2px;
}
#u5246 {
  position:absolute;
  left:20px;
  top:64px;
  width:754px;
  height:1px;
}
#u5247 {
  position:absolute;
  left:2px;
  top:-8px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5248 {
  position:absolute;
  left:20px;
  top:75px;
  width:300px;
  height:640px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5249 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u5250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5250 {
  position:absolute;
  left:340px;
  top:793px;
  width:24px;
  height:24px;
}
#u5251 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
}
#u5252 {
  position:absolute;
  left:364px;
  top:793px;
  width:336px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
}
#u5253 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u5254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5254 {
  position:absolute;
  left:351px;
  top:146px;
  width:71px;
  height:20px;
}
#u5255 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u5256 {
  position:absolute;
  left:340px;
  top:169px;
  width:360px;
  height:44px;
  font-size:18px;
  text-align:left;
}
#u5257 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u5258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5258 {
  position:absolute;
  left:633px;
  top:181px;
  width:57px;
  height:22px;
  text-align:right;
}
#u5259 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:576px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5260 {
  position:absolute;
  left:752px;
  top:139px;
  width:360px;
  height:576px;
}
#u5261 {
  position:absolute;
  left:2px;
  top:280px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5262 {
  position:absolute;
  left:752px;
  top:75px;
  width:360px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5263 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5264 {
  position:absolute;
  left:752px;
  top:95px;
  width:360px;
  height:44px;
  font-size:16px;
}
#u5265 {
  position:absolute;
  left:2px;
  top:11px;
  width:356px;
  word-wrap:break-word;
}
#u5266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5266 {
  position:absolute;
  left:763px;
  top:106px;
  width:24px;
  height:24px;
}
#u5267 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5268 {
  position:absolute;
  left:763px;
  top:146px;
  width:113px;
  height:20px;
}
#u5269 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5270 {
  position:absolute;
  left:752px;
  top:169px;
  width:360px;
  height:44px;
  text-align:left;
}
#u5271 {
  position:absolute;
  left:2px;
  top:11px;
  width:356px;
  word-wrap:break-word;
}
#u5272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5272 {
  position:absolute;
  left:752px;
  top:223px;
  width:237px;
  height:44px;
}
#u5273 {
  position:absolute;
  left:2px;
  top:14px;
  width:233px;
  word-wrap:break-word;
}
#u5274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5274 {
  position:absolute;
  left:989px;
  top:223px;
  width:123px;
  height:44px;
}
#u5275 {
  position:absolute;
  left:2px;
  top:13px;
  width:119px;
  word-wrap:break-word;
}
#u5276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5276 {
  position:absolute;
  left:774px;
  top:237px;
  width:71px;
  height:20px;
}
#u5277 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5278 {
  position:absolute;
  left:953px;
  top:289px;
  width:140px;
  height:40px;
}
#u5279 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u5280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5280 {
  position:absolute;
  left:690px;
  top:181px;
  width:24px;
  height:24px;
  opacity:0.6;
}
#u5281 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:576px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5282 {
  position:absolute;
  left:1145px;
  top:139px;
  width:360px;
  height:576px;
}
#u5283 {
  position:absolute;
  left:2px;
  top:280px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5284 {
  position:absolute;
  left:1145px;
  top:75px;
  width:360px;
  height:20px;
}
#u5285 {
  position:absolute;
  left:2px;
  top:2px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5286 {
  position:absolute;
  left:1145px;
  top:95px;
  width:360px;
  height:44px;
  font-size:16px;
}
#u5287 {
  position:absolute;
  left:2px;
  top:11px;
  width:356px;
  word-wrap:break-word;
}
#u5288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5288 {
  position:absolute;
  left:1156px;
  top:106px;
  width:24px;
  height:24px;
}
#u5289 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5290 {
  position:absolute;
  left:1156px;
  top:146px;
  width:71px;
  height:20px;
}
#u5291 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u5292 {
  position:absolute;
  left:1145px;
  top:169px;
  width:360px;
  height:44px;
  font-size:18px;
  text-align:left;
}
#u5293 {
  position:absolute;
  left:2px;
  top:12px;
  width:356px;
  word-wrap:break-word;
}
#u5294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u5294 {
  position:absolute;
  left:1438px;
  top:181px;
  width:57px;
  height:22px;
  text-align:right;
}
#u5295 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5296 {
  position:absolute;
  left:1093px;
  top:309px;
  width:0px;
  height:0px;
}
#u5296_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:41px;
  height:8px;
}
#u5296_seg1 {
  position:absolute;
  left:33px;
  top:-4px;
  width:8px;
  height:126px;
}
#u5296_seg2 {
  position:absolute;
  left:33px;
  top:114px;
  width:19px;
  height:8px;
}
#u5296_seg3 {
  position:absolute;
  left:37px;
  top:108px;
  width:20px;
  height:20px;
}
#u5297 {
  position:absolute;
  left:-13px;
  top:40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5298 {
  position:absolute;
  left:1145px;
  top:775px;
  width:24px;
  height:24px;
}
#u5299 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
}
#u5300 {
  position:absolute;
  left:1169px;
  top:775px;
  width:336px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#169BD5;
}
#u5301 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u5302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:130px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5302 {
  position:absolute;
  left:385px;
  top:839px;
  width:237px;
  height:130px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5303 {
  position:absolute;
  left:2px;
  top:22px;
  width:233px;
  word-wrap:break-word;
}
#u5304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5304 {
  position:absolute;
  left:570px;
  top:936px;
  width:31px;
  height:22px;
}
#u5305 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u5306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5306 {
  position:absolute;
  left:487px;
  top:937px;
  width:57px;
  height:22px;
}
#u5307 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u5308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5308 {
  position:absolute;
  left:1347px;
  top:237px;
  width:140px;
  height:40px;
}
#u5309 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u5310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5310 {
  position:absolute;
  left:1471px;
  top:245px;
  width:24px;
  height:24px;
  opacity:0.6;
}
#u5311 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5312 {
  position:absolute;
  left:340px;
  top:715px;
  width:163px;
  height:20px;
}
#u5313 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u5314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5314 {
  position:absolute;
  left:752px;
  top:715px;
  width:135px;
  height:20px;
}
#u5315 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u5316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5316 {
  position:absolute;
  left:351px;
  top:223px;
  width:241px;
  height:20px;
}
#u5317 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u5318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5318 {
  position:absolute;
  left:1132px;
  top:106px;
  width:24px;
  height:24px;
  opacity:0.6;
}
#u5319 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
