body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:901px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u384 {
  position:absolute;
  left:20px;
  top:20px;
  width:205px;
  height:37px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u385 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:2px;
}
#u386 {
  position:absolute;
  left:20px;
  top:67px;
  width:820px;
  height:1px;
}
#u387 {
  position:absolute;
  left:2px;
  top:-8px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:1028px;
}
#u388 {
  position:absolute;
  left:20px;
  top:78px;
  width:881px;
  height:1028px;
}
#u389 {
  position:absolute;
  left:2px;
  top:506px;
  width:877px;
  visibility:hidden;
  word-wrap:break-word;
}
#u390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:784px;
  height:388px;
}
#u390 {
  position:absolute;
  left:27px;
  top:1106px;
  width:784px;
  height:388px;
}
#u391 {
  position:absolute;
  left:2px;
  top:186px;
  width:780px;
  visibility:hidden;
  word-wrap:break-word;
}
